@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #efefef;
}

h1,
h2 {
  text-transform: uppercase;
}

svg {
  color: #4d4d4d;
  font-size: 1.5em;
  width: 30px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}

.main .main__header {
  height: 220px;
}

.main .main__header .header__banner {
  position: absolute;
  width: 100%;
  height: inherit;
  background-image: url(https://i.ibb.co/c2SHqqQ/pexels-olia-danilevich-4974912.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
  -webkit-filter: contrast(0.6);
          filter: contrast(0.6);
}

.main .main__header .header__profile {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  text-align: center;
}

.main .main__header .header__profile h1 {
  font-size: 2em;
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.55);
}

.main .main__header .header__profile h2 {
  font-size: 1em;
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.55);
}

.main .main__header .header__profile img {
  border: 2px solid #FFFFFF;
  width: 100px;
  border-radius: 50%;
}

.main .main__content {
  padding: 1em;
}

.main .main__content a {
  color: #4d4d4d;
}

.main .main__content ul {
  list-style: none;
}

.main .main__content h2 {
  text-align: center;
  margin-bottom: .5em;
  margin-top: .5em;
}

.main .main__content p {
  text-align: justify;
}

.main .main__content .content__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.main .main__content .content__right .right__skills .skills__pgrm-lang .pgrm-lang__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 500px) {
  .main .main__header {
    width: 100%;
    height: 170px;
  }
}

@media screen and (min-width: 900px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFFFFF;
  }
  /* cv container */
  .main {
    width: 994px;
    min-height: 253px;
    gap: none;
    /* header/banner styles */
    /* main content styles*/
  }
  .main .main__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 253px;
  }
  .main .main__header .header__banner {
    position: absolute;
    width: 994px;
    height: 289px;
    background-image: url(https://i.ibb.co/c2SHqqQ/pexels-olia-danilevich-4974912.jpg);
    background-size: cover;
    z-index: -1;
    -webkit-filter: contrast(0.5);
            filter: contrast(0.5);
  }
  .main .main__header .header__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3em;
    color: #FFFFFF;
    margin-right: 12em;
  }
  .main .main__header .header__profile h1 {
    font-size: 4em;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.55);
  }
  .main .main__header .header__profile h2 {
    font-size: 1.8em;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.55);
  }
  .main .main__header .header__profile img {
    width: 225px;
    border-radius: 50%;
  }
  .main .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2em;
    /* left content styles */
    /* right content styles */
  }
  .main .main__content b {
    color: #000000;
  }
  .main .main__content h2 {
    color: #7c8587;
    letter-spacing: .3em;
    font-size: 1.4em;
    text-align: start;
  }
  .main .main__content p,
  .main .main__content span,
  .main .main__content li {
    font-weight: 200;
    cursor: pointer;
    text-align: left;
  }
  .main .main__content .content__left {
    width: 420px;
    padding: 1em;
    line-height: 1.3em;
  }
  .main .main__content .content__left h2 {
    margin: 1em 0;
  }
  .main .main__content .content__left .left__contact span,
  .main .main__content .content__left .left__contact a {
    margin-left: .5em;
  }
  .main .main__content .content__left .left__contact ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 1em 0;
  }
  .main .main__content .content__left .left__contact ul li a {
    color: #4d4d4d;
  }
  .main .main__content .content__right {
    width: 100%;
    margin-top: 1px;
    padding: 1em;
    background-color: #efefef;
  }
  .main .main__content .content__right h2 {
    margin-bottom: .8em;
  }
  .main .main__content .content__right ul {
    margin-bottom: 1.5em;
    list-style-type: disc;
  }
  .main .main__content .content__right ul li {
    margin-left: 1em;
    font-size: .9em;
  }
  .main .main__content .content__right .right__skills .skills__pgrm-lang .pgrm-lang__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10em;
  }
  .main .main__content .content__right .right__skills .skills__soft-lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.5em;
  }
  .main .main__content .content__right .right__work-exp .a,
  .main .main__content .content__right .right__work-exp .b,
  .main .main__content .content__right .right__work-exp .c,
  .main .main__content .content__right .right__work-exp .d,
  .main .main__content .content__right .right__work-exp .e {
    width: 320px;
    margin-bottom: 1em;
  }
  .main .main__content .content__right .right__work-exp .a a,
  .main .main__content .content__right .right__work-exp .b a,
  .main .main__content .content__right .right__work-exp .c a,
  .main .main__content .content__right .right__work-exp .d a,
  .main .main__content .content__right .right__work-exp .e a {
    color: #4d4d4d;
  }
}
/*# sourceMappingURL=main.css.map */