@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    width           : 100%;
    font-family     : 'Roboto Condensed', sans-serif;
    background-color: #efefef;
}

h1,
h2 {
    text-transform: uppercase;
}

svg {
    color    : #4d4d4d;
    font-size: 1.5em;
    width    : 30px;
}

/* mobile first styles */
.main {
    display  : flex;
    flex-wrap: wrap;
    gap      : 1em;

    .main__header {
        height: 220px;

        .header__banner {
            position           : absolute;
            width              : 100%;
            height             : inherit;
            background-image   : url(https://i.ibb.co/c2SHqqQ/pexels-olia-danilevich-4974912.jpg);
            background-position: center;
            background-size    : cover;
            z-index            : -1;
            filter             : contrast(.6);
        }
        /* header styles */
        .header__profile {
            padding        : 2em;
            display        : flex;
            flex-wrap      : wrap;
            align-items    : center;
            justify-content: center;
            color          : #FFFFFF;
            text-align     : center;

            h1 {
                font-size  : 2em;
                text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.55);
            }

            h2 {
                font-size  : 1em;
                text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.55);
            }

            img {
                border       : 2px solid #FFFFFF;
                width        : 100px;
                border-radius: 50%;
            }
        }
    }

    /* main content styles */
    .main__content {
        padding: 1em;

        a {
            color: #4d4d4d;
        }

        ul {
            list-style: none;
        }

        h2 {
            text-align   : center;
            margin-bottom: .5em;
            margin-top   : .5em;
        }

        p {
            text-align: justify;
        }


        /* left content styles */
        .content__left {
            display       : flex;
            flex-wrap     : wrap;
            flex-direction: column;
            gap           : 1em;
        }

        /* right content styles */
        .content__right {
            .right__skills {
                .skills__pgrm-lang {
                    .pgrm-lang__ul {
                        display        : flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}


/* media queries start */

@media screen and (min-width: 500px) {
    .main {
        .main__header {
            width : 100%;
            height: 170px;
        }
    }
}


@media screen and (min-width: 900px) { /* desktop queries */
    body {
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        align-items     : center;
        background-color: #FFFFFF;
    }


    /* cv container */
    .main {
        width     : 994px;
        min-height: 253px;
        gap       : none;

        /* header/banner styles */
        .main__header {
            display        : flex;
            justify-content: center;
            min-height     : 253px;

            .header__banner {
                position        : absolute;
                width           : 994px;
                height          : 289px;
                background-image: url(https://i.ibb.co/c2SHqqQ/pexels-olia-danilevich-4974912.jpg);
                background-size : cover;
                z-index         : -1;
                filter          : contrast(.5);
            }

            .header__profile {
                display     : flex;
                align-items : center;
                gap         : 3em;
                color       : #FFFFFF;
                margin-right: 12em;

                h1 {
                    font-size  : 4em;
                    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.55);
                }

                h2 {
                    font-size  : 1.8em;
                    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.55);
                }

                img {
                    width        : 225px;
                    border-radius: 50%;
                }
            }
        }

        /* main content styles*/
        .main__content {
            display  : flex;
            font-size: 1.2em;

            b {
                color: #000000;
            }

            h2 {
                color         : #7c8587;
                letter-spacing: .3em;
                font-size     : 1.4em;
                text-align    : start;
            }

            p,
            span,
            li {
                font-weight: 200;
                cursor     : pointer;
                text-align : left;
            }

            /* left content styles */
            .content__left {
                width      : 420px;
                padding    : 1em;
                line-height: 1.3em;

                h2 {
                    margin: 1em 0;
                }

                .left__contact {

                    span,
                    a {
                        margin-left: .5em;
                    }

                    ul li {
                        display   : flex;
                        list-style: none;
                        margin    : 1em 0;

                        a {
                            color: #4d4d4d;
                        }
                    }
                }
            }

            /* right content styles */
            .content__right {
                width           : 100%;
                margin-top      : 1px;
                padding         : 1em;
                background-color: #efefef;

                h2 {
                    margin-bottom: .8em;
                }

                ul {
                    margin-bottom  : 1.5em;
                    list-style-type: disc;

                    li {
                        margin-left: 1em;
                        font-size  : .9em;
                    }
                }


                .right__skills {

                    .skills__pgrm-lang {

                        .pgrm-lang__ul {
                            display: flex;
                            gap    : 10em;
                        }
                    }

                    .skills__soft-lang {
                        display: flex;
                        gap    : 2.5em;
                    }
                }

                .right__work-exp {

                    .a,
                    .b,
                    .c,
                    .d,
                    .e {
                        width        : 320px;
                        margin-bottom: 1em;

                        a {
                            color: #4d4d4d;
                        }
                    }
                }
            }

        }
    }
}
